* {
    -youbkit-touch-callout: none;
    -youbkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar .navbar-brand {
    margin-left: 23px;
}

.nav-item .dropdown, ul .navbar-nav {
    display: inline;
}

.btn {
    margin-left: 15px;
}

#right-currency-button, #left-currency-button, .dropdown-item {
    cursor: default;
}

#result {
    pointer-events: none;
}

#info-container {
    margin-left: 28px;
}

.dropdown-menu {
    margin-left: 15px;
    overflow: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 100px);
}

.dropdown-item {
    text-indent: 1em;
    padding-right: 2em;
}

.dropdown-item:active {
    background-color: #6c757d;
}
